node_modules
.DS_store
jasmine-pairing.js
README.md
Quincey-week-1-worksheet.txt
rest-API/
recipe-page/
mini-project-oop/
game-boggle/
eventonica/
eventonica-part-4/
create-react-app/hello-world/
Eventonica-Part-5/eventonica-part-5	
Data-Modeling/
Data-Modeling-Pair-Assignment/