
.top {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

.list {
    font-weight: lighter;
    font-family: fantasy;
    font-size: 14px;
}
img {
    text-align: left;
}

body {
    background-color: rgb(255, 196, 226);
}

p {
    color: rgb(223, 85, 140); 
    font-family: fantasy;
}

