
.top {
    text-align: center;
    font-weight: bold;
}

.list {
    font-weight: lighter;
    font-family: fantasy;
    font-size: 14px;
    display: inline-block;
    width: 46%;
    border-color: rgb(223, 85, 140);
    border-width:1px;
    border-style: solid;
    border-radius: 5%;
    
}
image {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 600px;
   /* margin: 20px 30px 0 0*/
}

body {
    background-color: rgb(255, 196, 226);
    font-family: fantasy;
}

p {
    color: rgb(223, 85, 140); 
   
}


